#name {
    font-family: 'Courier';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #224957;
    text-decoration: unset;
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
}

@media screen and (max-width:500px) {
    #name {
        left: 10%;
    }
}